/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
/* app/globals.css */
* { box-sizing: border-box; }
a { color: inherit; text-decoration: none; }
input, textarea, select, button { border-radius: 8px; }
button { cursor: pointer; }
pre { white-space: pre-wrap; word-wrap: break-word; }

